# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data (too large for git)
data/raw/
data/processed/

# Model artifacts
artifacts/

# MLflow
mlruns/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
